main {
  max-width: 1200px;
  margin: 100px auto;
}

.container {
  display: flex;
  overflow: auto;
  flex-wrap: wrap;
  padding: 50px 100px;
  justify-content: center;

  .row {
    display: flex;
    flex-wrap: nowrap;
  }
}
